*.vsconfig
*.csproj
StackMaker/StackMaker.sln
BridgeRace/BridgeRace.sln
BridgeRace/Temp
MoveStopMove/.vs
MoveStopMove/Library
MoveStopMove/Logs
MoveStopMove/obj
MoveStopMove/Temp
MoveStopMove/UserSettings
MoveStopMove/MoveStopMove.sln
